<ng-container *ngIf="!inCaptchaStatisticsView; else captchaStatistics">
  <main>
    <div class="row-title">
      <h1 class="title">{{ project.name }}</h1>
      <button mat-button>Editar</button>
    </div>
    <div class="content">
      <img src="/assets/images/default_project_icon.png" class="photo" />
      <p class="desc">{{ project.description }}</p>
      <h3>Acertijos asociados</h3>
      <hr />
      <div class="wrapper-captcha">
        <div *ngFor="let captcha of project.captchas" class="c-captcha">
          <div class="row-header">
            <div class="name" [title]="captcha.name">
              <p class="ellipsis-2">{{ captcha.name }}</p>
            </div>
            <button mat-button>
              Ver estadísticas<mat-icon>visibility</mat-icon>
            </button>
          </div>
          <span>
            <p>Número de respuestas</p>
            <em>0</em>
          </span>
        </div>
        <div
          class="add-captcha {{
            project.captchas && project.captchas.length > 0 ? 'side' : 'center'
          }}"
        >
          <ng-container *ngIf="addingCaptcha; else addButton">
            <button class="action-btn" mat-button>
              <mat-icon>library_add</mat-icon>
              Acertijo nuevo
            </button>
            <button class="action-btn" mat-button>
              <mat-icon>library_books</mat-icon>
              Acertijo existente
            </button>
          </ng-container>
          <ng-template #addButton>
            <button
              class="add-btn"
              mat-icon-button
              (click)="this.addingCaptcha = !this.addingCaptcha"
            >
              <mat-icon>add</mat-icon>
            </button>
          </ng-template>
        </div>
      </div>
    </div>
    <!-- <div>
      <h3>Datos del proyecto</h3>
      <div>
        <img src="" alt="graph" />
        <div>
          <div>
            <p>Respuestas hasta la fecha</p>
            0
          </div>
          <button mat-button>Generar informe</button>
        </div>
      </div>
    </div> -->
  </main>
</ng-container>

<ng-template #captchaStatistics>
  <main>
    <button
      mat-icon-button
      (click)="this.captcha = undefined; this.inCaptchaStatisticsView = false"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div>
      <div>PRev captcha</div>
      <div>
        <h2>Estadísticas del acertijo "{{ captcha.name }}"</h2>
        <div>
          <img src="" />
          <img src="" />
          <img src="" />
          <div>
            <p>Respuestas hasta la fecha</p>
            <p>0</p>
          </div>
        </div>
        <div>
          <h3>Reportes de errores</h3>
          <div>Errores</div>
        </div>
      </div>
    </div>
    <button mat-button>Generar informe</button>
  </main>
</ng-template>
