<mat-toolbar class="header">
  <img
    class="logo"
    src="./assets/logos/logo-complete.png"
    alt="Ri-Bot"
    (click)="router.navigateByUrl('/')"
  />
  <div class="c-menus">
    <ng-container *ngIf="!navigationToggle; else fullNavigation">
      <button
        mat-icon-button
        class="menus"
        (click)="this.navigationToggle = !this.navigationToggle"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </ng-container>
    <ng-template #fullNavigation>
      <button
        mat-icon-button
        class="menus"
        [matMenuTriggerFor]="menuMenus"
        (click)="this.navigationToggle = !this.navigationToggle"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>
      <a routerLink="/crear-proyecto">
        <mat-icon>edit</mat-icon>
        Crear proyectos
      </a>
      <a style="margin-right: 16px" [matMenuTriggerFor]="projects">
        <mat-icon>visibility</mat-icon>
        Ver proyectos
        <mat-icon class="when-close">expand_more</mat-icon>
        <mat-icon class="when-open">expand_less</mat-icon>
      </a>

      <mat-menu #projects="matMenu" class="navbar-projects-menu">
        <ng-container
          *ngIf="db.projects && db.projects.length > 0; else noProjects"
        >
          <button
            *ngFor="let project of db.projects"
            mat-menu-item
            [routerLink]="'/proyecto/' + project.id"
          >
            {{ project.name }}
          </button>
        </ng-container>
        <ng-template #noProjects>
          <div class="empty">No tiene proyectos disponibles</div></ng-template
        >
      </mat-menu>
    </ng-template>
  </div>
  <form class="filter" [formGroup]="form">
    <mat-form-field [floatLabel]="'never'">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput placeholder="Buscar acertijos" formControlName="filter" />
    </mat-form-field>
  </form>
  <button mat-icon-button><mat-icon>notifications_outline</mat-icon></button>
  <button class="user" [matMenuTriggerFor]="userMenu" mat-icon-button>
    <img src="./assets/images/mock_avatar.svg" />
  </button>

  <!-- dropdowns -->

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>settings_applications</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
