<ng-container *ngIf="!inAddCaptchaView; else selectCategories">
  <h1 class="title">Para crear un proyecto siga los siguientes pasos</h1>
  <form [formGroup]="form">
    <div class="field">
      <h3>Nombre del proyecto</h3>
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="Escribe aquí..."
          formControlName="projectName"
        />
        <mat-error *ngIf="form.controls.projectName.hasError('required')"
          >El valor de este campo no es válido</mat-error
        >
      </mat-form-field>
    </div>
    <div class="row-field">
      <div class="field">
        <h3>Descripción del proyecto</h3>
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Escribe aquí..."
            formControlName="projectDesc"
          />
        </mat-form-field>
      </div>
      <div class="field">
        <h3>Imágen del proyecto</h3>
        <!-- <mat-form-field>
        </mat-form-field> -->
        <input type="file" placeholder="Escriba aquí..." />
      </div>
    </div>
    <div class="c-add-captcha">
      <h3>Agregar acertijo</h3>
      <div class="content">
        <div *ngFor="let captcha of captchas" class="c-captcha">
          <div class="name" [title]="captcha.name">
            <p class="ellipsis-2">{{ captcha.name }}</p>
          </div>
          <span>
            <p>Número de respuestas</p>
            <em>0</em>
          </span>
        </div>
        <div
          class="add-captcha {{ this.captchas.length > 0 ? 'side' : 'center' }}"
        >
          <ng-container *ngIf="addingCaptcha; else addButton">
            <button class="action-btn" mat-button (click)="goToAddNewCaptcha()">
              <mat-icon>library_add</mat-icon>
              Acertijo nuevo
            </button>
            <button class="action-btn" mat-button>
              <mat-icon>library_books</mat-icon>
              Acertijo existente
            </button>
          </ng-container>
          <ng-template #addButton>
            <button
              class="add-btn"
              mat-icon-button
              (click)="this.addingCaptcha = !this.addingCaptcha"
            >
              <mat-icon>add</mat-icon>
            </button>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="c-actions">
      <button mat-button class="secondary" (click)="cancelProject()">
        Cancelar
      </button>
      <button
        mat-button
        class="primary"
        [disabled]="form.invalid"
        (click)="saveProject()"
      >
        Guardar Proyecto
      </button>
    </div>
  </form>
</ng-container>

<ng-template #selectCategories>
  <ng-container *ngIf="!inCreateCaptchaView; else createCaptcha">
    <button
      class="btn-back"
      mat-icon-button
      (click)="this.inAddCaptchaView = false"
      title="Atrás"
    >
      <mat-icon>west</mat-icon>
    </button>
    <h1 class="title">Seleccione la categoría del acertijo</h1>
    <div class="c-category {{ this.selectedCategory ? 'selected' : '' }}">
      <div
        (click)="selectCategory(1)"
        class="category {{ this.selectedCategory === 1 ? 'selected' : '' }}"
      >
        <div class="header">
          <p class="ellipsis-2">Lúdicos</p>
        </div>
        <div class="content">
          <div class="c-pic">
            <img src="/assets/images/image.png" />
            <img src="/assets/images/image.png" />
            <img src="/assets/images/image.png" />
            <p>...</p>
          </div>
          <div class="row-pic">
            <img src="/assets/images/image.png" />
            <img src="/assets/images/image.png" />
            <img src="/assets/images/image.png" />
          </div>
        </div>
        <p>Crea acertijos interactivos, basados en asociación</p>
      </div>
      <div class="category disabled">
        <div class="header">
          <p class="ellipsis-2">Visuales</p>
        </div>
        <div class="content on-boarding">
          <div class="c-pic">
            <img src="/assets/images/image.png" />
            <img src="/assets/images/image.png" />
            <img src="/assets/images/image.png" />
          </div>
        </div>
        <p>Crea Acertijos con múltiples imagenes</p>
      </div>
      <div class="category disabled">
        <div class="header">
          <p class="ellipsis-2">Textuales</p>
        </div>
        <div class="content">
          <div class="c-pic text">
            <b>Cuestionario</b>
            <div class="option">
              <mat-icon>radio_button_checked</mat-icon>
              Respuesta 1
            </div>
            <div class="option">
              <mat-icon>radio_button_checked</mat-icon>
              Respuesta 2
            </div>
            <div class="option">
              <mat-icon>radio_button_checked</mat-icon>
              Respuesta 3
            </div>
          </div>
        </div>
        <p>Crea Acertijos de tipo pregunta</p>
      </div>
    </div>
    <ng-container *ngIf="selectedCategory">
      <ng-container *ngIf="selectedCategory === 1; else visualType">
        <hr style="margin: 16px 0" />
        <h1 class="title" style="margin-top: 16px">
          Seleccione el tipo de acertijo
        </h1>
        <div class="c-types">
          <div
            (click)="this.inCreateCaptchaView = true"
            class="category {{ this.selectedCategory === 1 ? 'selected' : '' }}"
          >
            <div class="header">
              <p class="ellipsis-2">Posición</p>
            </div>
            <div class="content">
              <div class="c-pic">
                <img src="/assets/images/image.png" />
                <img src="/assets/images/image.png" />
                <img src="/assets/images/image.png" />
                <p>...</p>
              </div>
              <div class="row-pic">
                <img src="/assets/images/image.png" />
                <img src="/assets/images/image.png" />
                <img src="/assets/images/image.png" />
              </div>
            </div>
            <p>Se ubican los bloques en la posición respectiva</p>
          </div>
          <div class="category disabled">
            <div class="header">
              <p class="ellipsis-2">Asociación</p>
            </div>
            <div class="content on-boarding">
              <div class="c-pic">
                <img src="/assets/images/image.png" />
                <div>A</div>
              </div>
            </div>
            <div class="options">
              <span>A</span>
              <span>B</span>
            </div>
            <p>Se relaciona la imagen con la opción correcta</p>
          </div>
        </div>
      </ng-container>
      <ng-template #visualType>
        <ng-container *ngIf="selectedCategory === 2; else textualType">
        </ng-container>
      </ng-template>
      <ng-template #visualType>
        <ng-container *ngIf="selectedCategory === 2; else invalidType">
        </ng-container>
      </ng-template>
      <ng-template #invalidType>
        <div>Categoria inválida</div>
      </ng-template>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #createCaptcha>
  <ng-container *ngIf="inCreateCaptchaView">
    <button
      class="btn-back"
      mat-icon-button
      (click)="this.inCreateCaptchaView = false"
      title="Atrás"
    >
      <mat-icon>west</mat-icon>
    </button>
    <div class="wrapper-create-captcha">
      <form [formGroup]="captchaForm">
        <h1 class="title">Ingrese la información solicitada en cada ítem</h1>
        <!-- Nombre del acertijo -->
        <h4>Nombre del acertijo</h4>
        <div class="field">
          <mat-form-field appearance="outline">
            <input
              matInput
              placeholder="Escriba aquí..."
              formControlName="name"
              maxlength="100"
            />
            <mat-error *ngIf="captchaForm.controls.name.hasError('required')"
              >El valor de este campo no es válido</mat-error
            >
          </mat-form-field>
        </div>

        <mat-accordion>
          <!-- Instrucción -->
          <mat-expansion-panel
            (opened)="instructionPanelOpen = true"
            (closed)="instructionPanelOpen = false"
            class="{{ instructionPanelOpen ? 'opened' : '' }}"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{
                  !instructionPanelOpen
                    ? "Zona de instrucción"
                    : "Escriba la instrucción para la solución del acertijo"
                }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field appearance="outline" color="tertiary">
              <input
                matInput
                placeholder="Escriba aquí..."
                formControlName="instruction"
                maxlength="100"
              />
              <mat-error
                *ngIf="captchaForm.controls.instruction.hasError('required')"
                >El valor de este campo no es válido</mat-error
              >
            </mat-form-field>
            <button
              mat-button
              (click)="$event.preventDefault(); updateInstruction()"
            >
              Actualizar
            </button>
          </mat-expansion-panel>
          <!-- Contenido -->
          <mat-expansion-panel
            (opened)="contentPanelOpen = true"
            (closed)="contentPanelOpen = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{
                  !contentPanelOpen
                    ? "Zona de contenido"
                    : "Agregue las imágenes para la solución del acertijo"
                }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- <mat-form-field> -->
            <input type="file" placeholder="Escriba aquí..." />
            <!-- </mat-form-field> -->
            <button mat-button>Actualizar</button>
          </mat-expansion-panel>
          <!-- Ayuda usuario -->
          <mat-expansion-panel
            (opened)="helpPanelOpen = true"
            (closed)="helpPanelOpen = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{
                  !helpPanelOpen
                    ? "Zona de apoyo al usuario"
                    : "Agregue un archivo de audio como apoyo auditivo para la solución del acertijo."
                }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- <mat-form-field> -->
            <input
              type="file"
              placeholder="Arrastrar y soltar aquí o navegar"
            />
            <!-- </mat-form-field> -->
            <button mat-button>Actualizar</button>
          </mat-expansion-panel>
        </mat-accordion>

        <button
          mat-button
          [disabled]="captchaForm.invalid"
          (click)="addCaptcha()"
          id="create-captcha"
          class="primary create-captcha-btn"
          title="Crear acertijo"
        >
          Crear acertijo
        </button>
      </form>
      <div class="wrapper-previsualization">
        <h1 class="title">Previsualización</h1>
        <div class="c-previsualization">
          <div class="header">
            <p class="{{ !captchaInstruction ? 'empty' : '' }}">
              {{
                captchaInstruction ? captchaInstruction : "Titulo del acertijo"
              }}
            </p>
          </div>
          <hr />
          <div class="body active">
            <div class="c-content">
              <div *ngFor="let i of [].constructor(9)" class="c-image">
                <mat-icon *ngIf="i !== 2 && i !== 4 && i !== 6">image</mat-icon>
              </div>
            </div>
            <hr />
            <div class="c-options">
              <div *ngFor="let _ of [].constructor(3)" class="c-image">
                <mat-icon>emoji_objects</mat-icon>
              </div>
            </div>
          </div>
          <hr />
          <div class="bottom">
            <mat-icon>headset</mat-icon>
            <button mat-button>Enviar</button>
            <mat-icon>error</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>

<button (click)="test()">Test</button>
